{% extends "base.html" %}

{% block content %}

<h4 class="center-align">Your Bookings</h4>
    <div class="container">
    {% for booking in user.booking_set.all %}
    <div class="divider"></div>
    <div class="section">
      <h5><strong>Day:</strong> {{ booking.day }}</h5>
      <p><strong>Name:</strong> {{ booking.user }}</p>
      <p><strong>No of people:</strong> {{ booking.group_size }}</p>
      <p><strong>Time:</strong> {{ booking.time }}</p>
    </div>
    {% empty %}
    <p>You have nothing Booked!!</p>
    {% endfor %}
    
</div>


{%endblock%}