{% extends "base.html" %}

{% block content %}

<h4>Welcome to Tablefor2</h4>

    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            {% load static %} <img src="{% static 'media/alireza-mirzabegi-FtUlp4THNI4-unsplash.jpg' %}" alt="Burger" class="circle responsive-img">
          </div>
          <div class="col s10">
            <span class="black-text">
              All you need for a great night and great food is all here!
              Simply signup today and have instance access to our bookings page, in which you can view bookings made,
              edit and or amend bookings or if you can't make, cancel a booking.

              <!--Menu-->
              <!--Times-->
            </span>
          </div>
        </div>
      </div>
    </div>


{%endblock%}